.divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    overflow:hidden;
    z-index: -1;
  
  }

  img {
    width:125px;
  }

  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
    img {
       width:35%;
    }
}