.divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  img {
    width:30%;
  }

  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
    img {
       width:90%;
    }
}