<div id="payment" class="rg-container rg-info-container what-do-i-do-container">
    <h1>Preço e pagamento</h1>

    <div class="task">
        <h2>Preço por sessão</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            48 euros</p>
           
       
    </div>

    <div class="task">
        <h2>Pagamento</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
         O pagamento de cada sessão é realizado após a consulta, por transferência bancária ou MB WAY.

         Na primeira sessão serão facultados os dados necessários para o pagamento e para a emissão da respetiva fatura.


        </p>
    </div>

    <div class="task">
        <h2>Desmarcações e remarcações</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
        Caso necessite de desmarcar ou remarcar uma sessão, agradeço que o faça com, pelo menos, 24 horas de antecedência.

        Após a primeira desmarcação sem o aviso prévio mínimo de 24 horas, será aplicada uma taxa de desmarcação. A marcação de uma nova sessão ficará sujeita à regularização do respetivo valor.


        </p>
    </div>

    <div class="task">
        <h2>Agendamento das sessões</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
        CA presença na sessão é da responsabilidade do cliente. Não é responsabilidade da psicóloga enviar lembretes ou contactar o cliente relativamente a consultas previamente agendadas.

        Sempre que possível, a sessão seguinte será agendada no final da consulta, de acordo com a disponibilidade de ambas as partes.

        </p>
    </div>

     <div class="task">
        <h2>Periodicidade das consulta</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
        Numa fase inicial do acompanhamento, as sessões são preferencialmente realizadas com periodicidade semanal ou quinzenal.

Não são realizados, nesta fase, agendamentos com periodicidade mensal. A frequência das sessões será definida em conjunto, tendo em conta as necessidades de cada pessoa e a disponibilidade da psicóloga.

A periodicidade poderá ser ajustada ao longo do acompanhamento, de acordo com a evolução do processo terapêutico.

        </p>
    </div>
</div>

   
