<div id="payment" class="rg-container rg-info-container what-do-i-do-container">
    <h1>Preço e pagamento</h1>

    <div class="task">
        <h2>Preço por sessão</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            40 euros, caso a frequência das sessões seja 1x por semana (recomendado) </p>
            <p><i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            45 euros, caso a frequência das sessões seja quinzenal </p>
            
       
    </div>

    <div class="task">
        <h2>Pagamento</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
          O pagamento é feito após cada sessão por transferência bancária ou MBWay. 
Os dados para pagamento e emissão de fatura serão trocados no início da primeira sessão.


        </p>
    </div>
</div>

   
