<div id="payment" class="rg-container rg-info-container what-do-i-do-container">
    <h1>Condições de Agendamento e Pagamento</h1>


    <div class="task">
        <h2>Agendamento das sessões</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
       A gestão dos agendamentos é da responsabilidade de cada cliente. Por esse motivo, não são enviados lembretes nem realizados contactos para recordar consultas previamente agendadas.

Sempre que possível, a sessão seguinte deverá ser agendada no final da consulta, de acordo com a disponibilidade de ambas as partes

        </p>
    </div>

     <div class="task">
        <h2>Periodicidade das consulta</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
     Numa fase inicial do acompanhamento, as sessões são, habitualmente, realizadas com uma frequência semanal ou quinzenal.

Nesta fase, não serão realizados agendamentos com periodicidade mensal, de forma a garantir a continuidade e consistência necessárias ao início do processo terapêutico.

A frequência das sessões será definida em conjunto, tendo em conta as necessidades de cada pessoa e a disponibilidade da psicóloga, podendo ser ajustada ao longo do acompanhamento.

        </p>
    </div>

       

    <div class="task">
        <h2>Desmarcações e remarcações</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
     Se precisar de desmarcar ou remarcar uma sessão, agradeço que o faça com, pelo menos, 24 horas de antecedência.

Após a primeira desmarcação sem o aviso prévio mínimo de <b>24 horas</b>, será aplicada uma taxa de desmarcação. O agendamento de uma nova sessão ficará sujeito à regularização do respetivo valor.

Esta condição permite assegurar a organização da agenda e respeitar o tempo reservado para cada sessão.

        </p>
    </div>

    
    <div class="task">
        <h2>Preço por sessão</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            48 euros</p>
           
       
    </div>


    <div class="task">
        <h2>Pagamento</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
         O pagamento de cada sessão é realizado após a consulta, por transferência bancária ou MB WAY.

Na primeira sessão serão disponibilizados os dados necessários para o pagamento e para a emissão da respetiva fatura.


        </p>
    </div>

 
</div>

   
