<div  pAnimateOnScroll  enterClass="fadein" leaveClass="fadeout" class="rg-container rg-info-container what-do-i-do-container">
    <h1>O que é que eu faço?</h1>
    <div class="task">
      <h2>Individual Therapy</h2>
      <p>
        Provide one-on-one therapy sessions to help clients work through emotional, psychological, and behavioral issues, promoting mental health and well-being.
      </p>
    </div>
  
    <div class="task">
      <h2>Group Therapy</h2>
      <p>
        Facilitate group therapy sessions to create a supportive environment where clients can share experiences and learn from others dealing with similar issues.
      </p>
    </div>
  
    <div class="task">
      <h2>Collaboration with Healthcare Professionals</h2>
      <p>
        Work alongside psychiatrists, social workers, and other healthcare professionals to create comprehensive treatment plans for clients.
      </p>
    </div>
  </div>
  