<div  id="functions" class="rg-container rg-info-container what-do-i-do-container">
    <h1>O que é que eu faço?</h1>
    <div class="task">
      <p>
       
      <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
      Ofereço um espaço seguro para pensar a dois; um espaço acolhedor onde duas pessoas se escutam e são escutadas.
      As minhas sessões são desenhadas de forma a acolher as circunstãncias únicas por trás do seu sofrimento e dificuldades. Nesta caminhada a dois, serei como uma guia turística ou uma companheira de viagem que faz o percurso consigo, mostrando vários caminhos com destino à ressignificação das experiências de vida difíceis de compreender.
      </p>
      <h2>Consultas individuais com adultos</h2>
      <p>
        <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
        Consultas <b><i>online</i></b> de um-para-um que ajudam o adulto a abordar e compreender sentimentos e dificuldades que moldam e limitam a sua qualidade de vida.
Nestas sessões, lido com questões relacionadas com: desenvolvimento pessoal; relacionamentos interpessoais; parentalidade; ansiedade; depressão.

      </p>
    </div>
  
    <div class="task">
      <h2>Consultas individuais com adolescentes (15+)</h2>
      <p>
        <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
        Consultas <b><i>online</i></b> que ajudam a dar sentido aos pensamentos, sentimentos e experiências do adolescente, permitindo-lhe um desenvolvimento tão saudável quanto possível.
        A primeira sessão é agendada com os pais/cuidadores para conhecer a história/contexto familiar. De seguida, é agendada a primeira consulta com o adolescente.
        
      </p>
    </div>
  
   
  </div>
  