<div id="contacts" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="rg-container contacts-footer-container">
    <h1>Contactos</h1>
    <div class="contact-info">
    <div class="contact-item">
        <i class="pi pi-phone"></i>
        <span class="contact-detail">926 223 656</span>
    </div>
    <div class="contact-item">
        <i class="pi pi-envelope"></i>
        <span class="contact-detail"><a href="mailto:rafaelagarcia.psi@gmail.com">Envie um email</a><br></span>
    </div>
</div>
  