.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
  }
  
  .contact-detail {
    font-size: 1.35rem;
    margin-left: 10px;
  }

  i{
     margin-top:2.5px;
  }

  $breakpoint-tablet: 1200px;
  @media (max-width: $breakpoint-tablet) {
        .contact-item {
          min-width: 150px;
        }

      
  }