<div id="contacts" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="rg-container contacts-footer-container">
    <h1>Contactos</h1>
    <div class="contact-info">
        <div class="contact-item">
            <i class="pi pi-phone"></i>
            <span class="contact-detail">
                <a href="tel:+351928269839">Telemóvel</a>
            </span>
        </div>
        <div class="contact-item">
            <i class="pi pi-envelope"></i>
            <span class="contact-detail"><a href="mailto:rafaelagarcia.psi@gmail.com">Email</a><br></span>
        </div>
        <div class="contact-item">
            <i class="pi pi-instagram"></i>
            <span class="contact-detail"><a href="https://www.instagram.com/rafaelagarcia.psi?igsh=MWpyd2JpdmR3bWRmcQ==" target="_blank">Instagram</a><br></span>
        </div>

        <div class="contact-item">
            <i class="pi pi-whatsapp"></i>
            <span class="contact-detail"><a href="https://api.whatsapp.com/send?phone=928269839" target="_blank">Whatsapp</a><br></span>
        </div>

    </div>
    
</div>
  