<div   id="whoami" class="rg-container who-am-i-container">
    <h1>Quem sou?</h1>
    <p>
      O meu nome é Rafaela Garcia e sou membro efetivo da Ordem dos Psicólogos Portugueses (CP: 29513) e Formadora (certificado
n.º F764286/2025). 
O modelo psicodinâmico é a principal base teórica e clínica que orienta o meu trabalho enquanto Psicóloga Clínica. "Psicodinâmica" significa "mente em movimento". Um quadro de referência psicodinâmico postula que elementos dinâmicos (em movimento) no inconsciente afetam os pensamentos, sentimentos e comportamentos conscientes.

      <p>
  </div>