
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <span class="font-bold">
                Quem sou?
            </span>
        </div>
    </ng-template>
    <p class="m-0">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Maecenas porttitor pulvinar eget, parturient maximus lobortis hendrerit. Montes torquent consectetur fermentum euismod in. Tristique iaculis nibh pellentesque eleifend; at rutrum ligula. Primis eros enim est himenaeos lectus nam euismod. Nibh id mi eget integer ut pulvinar sagittis per.

        Suspendisse class per netus per nunc. Iaculis per nibh placerat lectus donec mus fermentum nisi. Mi platea risus finibus class duis porta. Nunc conubia nunc sollicitudin pharetra est diam ad. Amet faucibus eu massa duis penatibus eget condimentum. Viverra aliquet porta nisi elementum massa erat. Duis nunc tellus magna fusce suspendisse; pretium fermentum. Diam dis luctus id laoreet eget adipiscing.
        
        Maecenas malesuada tempor ante arcu ac. Varius vehicula senectus augue conubia ut iaculis rhoncus. Magna arcu blandit erat pretium gravida ipsum gravida dolor. Eleifend ante interdum orci, facilisi quis litora. Volutpat quis lorem pulvinar, curae fames ac. Habitasse iaculis hendrerit mi proin purus vulputate. Torquent hendrerit varius ridiculus quisque facilisis.
        
        Ornare lacus id nisi ad a enim. Congue nisl molestie dapibus nisl morbi vestibulum. Rhoncus maximus neque ligula dictum parturient integer orci. Ipsum semper penatibus blandit pharetra, nibh venenatis penatibus tempor odio. Mauris fusce mi diam dictum ex ut dis fames vestibulum. Himenaeos laoreet cursus cursus, semper semper condimentum.
        
        Congue hac consectetur magnis felis aliquet gravida, mauris curabitur. Nulla quam ligula taciti facilisis montes mauris efficitur taciti facilisis. Justo magna himenaeos lacus interdum maecenas ligula taciti sit. Convallis ex nascetur facilisis sollicitudin sodales duis gravida sapien facilisis. Curabitur aliquet consequat faucibus laoreet commodo nascetur. Vestibulum vulputate dui vitae, vitae accumsan neque urna fringilla per. Lobortis finibus faucibus class; a sem taciti.
    </p>
</p-panel>