<div id="info" class="rg-container rg-info-container what-do-i-do-container">
    <h1>Informações sobre as consultas</h1>

    <div class="task">
        <h2>Intervenção online</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
           As sessões de Psicologia Clínica decorrem exclusivamente em formato online, prefencialmente recorrendo ao Google Meet (ou outra a combinar).

A terapia online tem a sua eficácia comprovada por evidência científica, apresentando resultados clínicos comparáveis aos da intervenção presencial.

        </p>
    </div>

    <div class="task">
        <h2>Sigilo e Confidencialidade</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
           A confidencialidade de toda a informação partilhada ao longo do acompanhamento psicológico está plenamente assegurada.

O exercício profissional segue rigorosamente o Código Deontológico da Ordem dos Psicólogos Portugueses, publicado em Diário da República, 2.ª série, a 20 de abril de 2011.

        </p>
    </div>

    <div class="task">
        <h2>Primeiro contacto</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Existe a possibilidade de um primeiro contacto gratuito de 15 minutos para que a pessoa possa decidir se pretende ou não avançar com o agendamento da primeira sessão e seguintes.


        </p>
    </div>

    <div class="task">
        <h2>Atendimento e Horário</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Nas minhas sessões atendo adultos de qualquer idade, de forma individual.
Cada sessão de Psicologia Clínica tem a duração de 50 minutos e realiza-se, preferencialmente, com periodicidade semanal ou quinzenal, consoante o acordado entre psicóloga e paciente.

O agendamento da sessão seguinte é realizado no fim de cada consulta.
 As desmarcações devem ser comunicadas, pelo menos, 1 dia antes da sessão. 

        </p>
    </div>

    <div class="task">
        <h2>Número de sessões</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Todos somos diferentes. O número de consultas dependerá das necessidades específicas da pessoa.
        </p>
    </div>

    <div class="task">
        <h2>Posso contactá-la entre consultas?</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Poderás contactar-me por e-mail, se necessário, <span class="contact-detail"><a href="mailto:rafaelagarcia.psi@gmail.com">{{email}}</a></span>
        </p>
    </div>

    <div class="task">
        <h2>Contacto entre sessões</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Poderás contactar-me de forma rápida através do meu número profissional ou e-mail. Encontras esta informação na secção “Contactos”.
        </p>

</div>
