<div id="faq" class="rg-container rg-info-container what-do-i-do-container">
    <h1>FAQ</h1>

    <div class="task">
        <h2>O que acontece na primeira consulta?</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Na primeira consulta conversamos sobre o que o trouxe à consulta para iniciarmos a procura de possíveis caminhos para o ajudar.
        </p>
    </div>

    <div class="task">
        <h2>Quantas consultas tenho de fazer?</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Todos somos diferentes. O número de consultas dependerá das suas necessidades específicas, sendo importante guardar um espaço regular na sua agenda, semanal, por exemplo, para este momento que é só seu.
        </p>
    </div>

    <div class="task">
        <h2>Quanto tempo dura uma consulta?</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Uma consulta dura aproximadamente <b>50 minutos</b>.
        </p>
    </div>

    <div class="task">
        <h2>Posso cancelar uma consulta?</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            As consultas deverão ser desmarcadas com <b>4 dias de antecedência</b> para que não sejam cobradas. 
        </p>
    </div>

    <div class="task">
        <h2>As consultas são confidenciais?</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Sim. Por vezes, os adolescentes podem falar sobre questões que seriam importantes partilhar com os seus cuidadores, contudo, nenhuma informação será transmitida sem consentimento.
        </p>
    </div>

    <div class="task">
        <h2>Posso contactá-la entre consultas?</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            Poderá contactar-me por e-mail, se necessário, <span class="contact-detail"><a href="mailto:rafaelagarcia.psi@gmail.com">{{email}}</a></span>
        </p>
    </div>

    <div class="task">
        <h2>O que é o modelo psicodinâmico?</h2>
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            O Modelo Psicodinâmico é uma abordagem da psicologia que se baseia nos princípios da psicanálise desenvolvida por Sigmund Freud.
        </p>
    </div>

</div>
