<div id="credentials" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="rg-container info-footer-container">
    
    <section class="image-text-section">
        <div class="content">
            <img src="/assets/odp.png" alt="Ordem dos Psicólogos" />
            <p class = "member-text">Ordem dos Psicólogos Portugueses Nº 29513</p>
        </div>
      </section>
     
      <section class="image-pair-section">
        <div class="image-container">
            <img src="/assets/ers.png" alt="ERS" />
            
        </div>
        <div class="image-container">
          <a href = "https://www.livroreclamacoes.pt/Inicio/" target = "_blank"><img src="/assets/livro.png" alt="Livro de reclamações" class="profile-image" /></a>

        </div>
      </section>
      
  
      
</div>
  