<div id = "studies" class="rg-container rg-info-container studies-container">
    <h1>Formação académica e artigos publicados</h1>
    <div class="studies">
      <h2>Licenciatura em Ciências Psicológicas</h2>
      <h3>2017 - 2020 | Universidade de Coimbra</h3>
      <p></p>
    </div>
  
    <div class="studies">
      <h2>Dissertação de Mestrado</h2>
        <h3>2020 - 2022 | Universidade de Coimbra</h3>
    </div>

    <div class="studies">
        <h2>Mestrado em Psicologia Clínica e da
          Saúde - Psicopatologia e Psicoterapias
          Dinâmicas</h2>
          <h3><i>Parentalidade Helicóptero, Desenvolvimento
            Identitário e Satisfação com a Vida em Adultos
            Emergentes que Coabitam com os Pais</i></h3>
            <p> Artigo publicado na revista 
                <b><a href = "https://doi.org/10.5457/p2005-114.328" target = "_blank"><i>"The Central European
                Journal Of Paediatrics"</i></a></b>
               </p>
      </div>

  </div>
  