<div class="rg-container rg-info-container studies-container">
    <h1>Formação e artigos publicados</h1>
    <div class="studies">
      <h2>Licenciatura</h2>
      <p>
        Provide one-on-one therapy sessions to help clients work through emotional, psychological, and behavioral issues, promoting mental health and well-being.
      </p>
    </div>
  
    <div class="studies">
      <h2>Mestrado</h2>
      <p>
        Facilitate group therapy sessions to create a supportive environment where clients can share experiences and learn from others dealing with similar issues.
      </p>
    </div>

  </div>
  