<div  id="approach" class="rg-container rg-info-container what-do-i-do-container">
    <h1>Abordagem clínica</h1>
    <div class="task">

      <p>
        
O modelo psicodinâmico é a minha principal base teórica e clínica.

Nas minhas consultas ofereço um espaço seguro para pensar a dois; um espaço acolhedor onde duas pessoas se escutam e são escutadas. 
      </p>
      <p>
    O meu trabalho parte da abordagem psicodinâmica, uma forma de compreender e trabalhar os nossos pensamentos, emoções e comportamentos que vai além do que é visível à superfície.
    </p>    
<br>
<p>
     Muitas vezes, repetimos padrões nas nossas relações, sentimos emoções intensas sem perceber bem porquê, ou ficamos presos em situações que nos fazem mal, mesmo quando desejamos mudar. O modelo psicodinâmico ajuda a explorar as raízes dessas experiências, muitas vezes ligadas a vivências passadas, memórias emocionais ou relações marcantes que moldaram a forma como nos vemos e como nos ligamos aos outros.
</p><br>
<p>
     Não se trata apenas de “resolver problemas” pontuais, mas de criar espaço para o autoconhecimento, para que possa entender melhor quem é, o que sente e o que precisa. Ao longo do processo terapêutico, vamos construindo juntos um espaço seguro onde se pode ouvir, sentir e transformar.
Acreditar na mudança é o primeiro passo. E essa mudança começa quando começa a olhar para si com curiosidade e não com julgamento.
</p>

    </div>
    
  
   
  </div>
  