.navbar {
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 0px!important;
    z-index: 999;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background-color: rgb(255, 255, 255);
    border-color: rgb(163, 89, 89);
    border-top-color: rgb(163, 89, 89);
    border-right-color: rgb(163, 89, 89);
    border-bottom-color: rgb(163, 89, 89);
    border-left-color: rgb(163, 89, 89);
    color: rgb(163, 89, 89);
}

$breakpoint: 992px;
@media (min-width: $breakpoint) {
    .navbar-responsive {
        visibility: hidden;
        display: none;
      }
}

@media (max-width: $breakpoint) {
    .navbar-full {
        visibility: hidden;
        display: none;
      }

}