

    <div class="profile-container">
        <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" alt="Profile Image" class="profile-image" />
        <div class="profile-text">
          <h1>Rafaela Cardoso Garcia</h1>
          <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Lacus ligula eget varius integer ultricies. Pharetra tincidunt sodales scelerisque sociosqu mus. Eu vehicula tellus curae at ex finibus. Urna massa ultricies himenaeos feugiat justo nullam. Eleifend ultrices leo eget semper nisi. Habitant neque ligula, tristique facilisi sagittis sollicitudin. Nunc praesent commodo viverra dapibus risus pharetra commodo viverra eget. Eros nisi arcu quisque lacus gravida.

        
          </p>
        </div>
      </div>