  .profile-image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
  }

  h1, h2 {
    text-align: center;
  }

  h2 {
    font-style: italic;
    margin: 0;
  }

  p{
    text-align: right;
    margin:0;
  }
  
  
  .profile-text {
    display: flex;
    flex-direction: column;
  }

  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
    .profile-image {
        width: 300px!important;
        height: 300px!important;
    }
}