.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 2.5rem 20rem 2.5rem 20rem;
  }
  
  .profile-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
  }

  h1, h2 {
    text-align: center;
  }
  
  .profile-text {
    display: flex;
    flex-direction: column;
  }
