<div id="extra1" class="rg-container rg-info-container what-do-i-do-container">
    <h1>Bolsa social de consultas</h1>

    <div class="task">
        <p>
            <i class="pi pi-circle-fill" style="font-size: 0.5rem; margin-right: 0.2rem; position:relative; top: -4px;"></i>
            A saúde mental deve estar acessível a todas as pessoas, independentemente da sua situação financeira. Por isso, disponibilizo um número limitado de vagas com bolsa social. Estas vagas são destinadas a pessoas que, por motivos económicos, não conseguem suportar o valor integral das sessões.

O número de vagas é limitado e sujeito a disponibilidade. Para mais informações, basta contactar-me.
        </p>
            
       
    </div>

    
</div>

   
