/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body, body .p-component {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
}

h1 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: left;
  }

  
  .rg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 2.5rem 10rem 2.5rem 10rem;
  }

  .rg-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  $breakpoint-tablet: 768px;
    @media (max-width: $breakpoint-tablet) {
        .rg-container {
            padding: 1rem!important;
          }
    }
